*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 600px;
}
p{
    font-family: Merriweather;
}
.banner{
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url("../images/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner p{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}
/* banner part end */
/* offer part start */
.offer{
    margin: auto;
    width: 800px;
}
.offer .off-title{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.offer .off-title h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.offer .off-title p{
    margin-top: 30px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.off-title h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.off-img{
    width: 100%;
    height: 500px;
    background: url("../images/New\ Year\ Photo.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
/* offer part end */
.main{
    width: 1320px;
    margin: auto;
}
.wlc{
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url("../images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 50px;
}
.wlc .container{
    display: flex;
    width: 100%;
    height:100%;
    padding-left: 125px;
    padding-top: 125px;
}  
.container .content1{
    width: 800px;

}
.container.content2{
    width: 320px;
    height: 465px;
    margin-bottom: 50px;
}

.content1 h2{
    font-family: Merriweather;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.content1 p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.content1 button{
    width: 150px;
    height: 35px;
    background: transparent;
    border: none;
    margin-top: 50px;
    margin-left: 34px;
}
.content1 a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s ease;
}
.content1 a:hover{
    color: #F00;
}
.detail{
    position: relative;
    width: 1320px;
    height: 480px;
    background-color: (180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}
.detail p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 

}
.detail span{
    color: #F00

}
.join-btn{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: #F00;
    border-radius:5px;
    border: none;
    transition: .3s ease-in-out;
}
.join-btn a{
   color: #FFF;
   font-family: Inter;
   font-size: 20px;
   font-weight: 700;
}
.join-btn:hover{
    background-color: #070211;

}
.main2{
    margin: auto;
    width: 1320px;

}
.optional{
    margin-top: 300px;
    display: flex;
    width: 100%;
    position: relative;
    height: 200px;
}
.optional .sub1{
    top: 0;
    left: 0;
    position: absolute;
    margin-bottom: 50px;
}
.optional .sub2{
    width: 465px;
    height: 465px;
    border: 15px solid #F00;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.optional .sub3{
    right: 0;
    position: absolute;
}
.optional h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.optional h3{
    color: #070211;
    font-family: Merriweather;
   font-size: 48px;
   font-weight: 900;
   text-transform: capitalize;
}
.optional p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.optional h2{
    color: #F00;
    font-family: Inter;
   font-size: 48px;
   font-weight: 700;
}
.sub2-img{
    width: 365px;
    height: 365px;
    margin: auto;
}
.main .cont1{
    margin-top: 250px;
    text-align: center;

}

.cont1 h5{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.cont1 h2{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.cont1 span{
    color: #F00;
}
.cont1 p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
}
.cont2{
    margin-top: 65px;
    justify-content: space-between;
    width: 1320px;
    position: relative;
}
.cont2 .img1{
    display: inline;
    position: absolute;
    width: 500px;
}
.cont2 .img2{
    display: flex;
    position: absolute;
    width: 430px;
    height: 435px;
    right: 0;
    display: inline;
}
.clear{
    height: 440px;
    clear: both;
}
.main .img3{
    width: 100%;
    top: 500px;
}
.jamela{
    position: absolute;
    left:-150px;
    top: 50px;
}