*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 600px;
}
p{
    font-family: Merriweather;
}
.banner{
    margin: auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url("../images/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner p{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}
/* banner part end */
/* offer part start */
.offer{
    margin: auto;
    width: 800px;
}
.offer .off-title{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.offer .off-title h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.offer .off-title p{
    margin-top: 30px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.off-title h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}
.off-img{
    width: 100%;
    height: 500px;
    background: url("../images/New\ Year\ Photo.png");
    background-size: cover;
    background-position: center;
}
/* offer part end */